@{
    ViewData["Title"] = "Home Page";
}


<div id="MC" class="CMC">
<span>My Gram</span>

</div>
</br>
<div id="MainContainer" class="container MainContainerClass">
<span id="SecondSpan">Image 1 Image 2 Image 3 Image 4 Image 5 </span>
</div>
</br>
<div id="MainContainer" class="container MainContainerClass">
<span id="ThirdSpan">About Blog Jobs Help</span>
</div>
<div id="MainContainer" class="container MainContainerClass">
<span id="FourthSpan">English 2021 MyGram</span>
</div>
</br>
<div id="btn" class="button"
</div>

<script src="~/js/Index.js"></script>