<form action="/Home/LogIn" method="post">
    <table>
        <tbody>
            <tr>
                <td>
                    <span> User:</span>
                </td>
                <td>
                    <input name="User" placeholder="Type user name" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <span>Password:</span>
                </td>
                <td>
                    <input name="Password" placeholder="Type user password" type="password" />
                </td>
            </tr>
            <tr>
                <td coldspan="2">
                    <button>Log In</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>