<form id="MainForm">
    <table>
        <tbody>
            <tr>
                <td>
                    <span> User:</span>
                </td>
                <td>
                    <input id="User" name="User" placeholder="Type user name" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <span>Password:</span>
                </td>
                <td>
                    <input id="Password" name="Password" placeholder="Type user password" type="password" />
                </td>
            </tr>
            <tr>
                <td coldspan="2">
                    <button id="LogIn">Log In</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>

<script src="~/js/LogUser.js" type="text/javascript"></script>
