@{
    ViewData["Title"] = "Register";

}

<div id=" RegisterContainer" class="text-center">
    <table>
        <tbody>
            <tr>
                <td>
                    <label> First Name:</label>
                </td>
                <td>
                    <input type="text" placeholder=" Add your First Name" />
                </td>
                <td>
                    <label> Last Name:</label>
                </td>
                <td>
                    <input type="text" placeholder=" Add your Last Name" />
                </td>
            </tr>
            <tr>
                <td>
                    <label> Gender:</label>
                </td>
                <td>
                    <input type="radio" name="Gender" id="Male" />
                    <label for="Male">Male</label>
                    <input type="radio" name="Gender" id="Female" />
                    <label for="Female">Female</label>
                    <input type="radio" name="Gender" id="NoResponse" />
                    <label for="NoReponse">Prefer not to respond</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Email:  </label>
                </td>
                <td>
                    <input type="email" placeholder=" Add your Email Address" />
                </td>
            <tr>
                <td>
                    <label>Country of Redisence:</label>
                </td>
                <td>
                    <select>
                        <option>USA</option>
                        <option>Mexico</option>
                        <option>China</option>
                        <option>Germany</option>
                    </select>
                </td>
            </tr>
          
            <tr>
                <td>
                    <button>Update User Information</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script src="~/js/Register.js"><</script>
